.section {
    padding: 50px;
    text-align: center;
}

.carousel {
    display: flex;
}

.carouselContent {
    max-height: 550px;
    flex-direction: row;
    font-size: xx-large;
}

.carouselContent .actionButton {
    font-size: 1.5em;
}

.carouselArrow {
    width: 50px;
    height: 550px;
    text-shadow: 0 0 5px black;
    color: #dddddd;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    position: absolute;
    z-index: 1;
}

.description {
    font-size: large;
    line-height: 1.5em;
    margin: 50px 100px 0 100px;
}

.cardContainer {
    display: flex;
    justify-content: space-evenly;
    margin: 5em;
}

.actionButton {
    font-size: large;
    background: #fcb40a;
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.actionButton:hover {
    background: #e8a302;
}