.container {
    width: 100vw;
    height: 100px;
    display: flex;
    background: #1e3a63;
    color: #fff;
    border-bottom: 1px gray solid;
}

.logo {
    margin: 19px;
    cursor: pointer;
}

.links {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: larger;
}

.links a {
    width: 150px;
    padding: 10px;
    cursor: pointer;
    background: #eeeeee11;
    border-radius: 20px;
}

.links a:hover {
    background: #f6f6f622;
}